<link rel="stylesheet" type="text/css" href="client/styles/left-nav/styles.css">
<link rel="stylesheet" type="text/css" href="client/styles/cards/styles.css">
<link rel="stylesheet" type="text/css" href="client/jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css">

section aurelia-app="main"

= javascript_include_tag '/client/jspm_packages/system.js'
= javascript_include_tag '/client/config.js'

javascript:
  System.import('aurelia-bootstrapper');
