<link rel="stylesheet" type="text/css" href="assets/aureliatoolkit/styles/left-nav/styles.css">
<link rel="stylesheet" type="text/css" href="assets/aureliatoolkit/styles/cards/styles.css">
<link rel="stylesheet" type="text/css" href="assets/aureliatoolkit/jspm_packages/npm/font-awesome@4.3.0/css/font-awesome.min.css">

<div style="display:none;" id="user_info">
  <span>#{current_user.username}|#{current_user.uid}|#{current_user.image}</span>
</div>
section aurelia-app=""

= javascript_include_tag 'aureliatoolkit/jspm_packages/system.js'
= javascript_include_tag 'aureliatoolkit/config.js'

javascript:
  System.import('aurelia-bootstrapper');
