<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gig Me</title>
  <meta name="description" content="Find gigs on your time.  Hire anyone to do anything.">
  <meta name="keywords" content="aurelia, jobs, gig economy, gigs, litecoin, microtransactions">
  <meta name="author" content="Aurelia Toolbox, LLC">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="assets/img/apple-icon.png?v=1">
  <link rel="icon" href="assets/img/favicon.ico?v=1">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <!--[if lte IE 9]><!-->
  <script src="assets/js/vendor/html5shiv.min.js"></script>
  <!--<![endif]-->
</head>
<body>

  <div class="site">
    <div class="site-loader">
      <div class="site-loader-spinner"></div>
    </div>

    <div class="site-canvas">
      <header class="site-header">
        <nav class="navbar navbar-theme">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="#">
                  <!-- <img src="/ATBLogo1.png" alt=""> -->
                </a>
                <span class="hidden-sm">GigMe</span>
              </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/users/sign_up">Sign up / log in</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main class="site-main">
        <div id="home" class="section block-primary position-r align-c-xs-max">
          <div id="particles-js" class="site-bg">
            <div class="site-bg-img"></div>
            <div class="site-bg-video"></div>
            <div class="site-bg-overlay"></div>
            <div class="site-bg-effect layer" data-depth=".30"></div>
            <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
          </div>

          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner" data-sr="left">
                  <div class="section-heading">
                    <h5>GigMe.io</h5>
                    <h1>Changing the way we work, one micro-transaction at a time.</h1>
                    <p>Looking to make money fast?  Looking for people to do work for you?</p>
                    <p>You've come to the right place.</p>
                  </div>
                  <div class="section-content">
                    <a class="btn btn-pink m-y-5" href="/listings">Find work</a>
                    <a class="btn btn-warning m-y-5" href="/listings">List work</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-p-l-1 m-t-60-xs-max">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/img/dev-at-computer.jpg" alt="" data-sr="right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="about" class="section p-a-0 align-c">
          <div class="container-fluid p-x-0">
            <div class="row row-table">
              <div class="col-sm-4 block-invert p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
                <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
                  <div class="icon-box _center">
                    <div class="icon-box-media">
                      <img src="assets/img/icon/rocket.png" alt="" data-sr="bottom">
                    </div>
                    <div class="icon-box-heading">
                      <h3>Full-time work</h3>
                    </div>
                    <div class="icon-box-content">
                      <p>Recruiters are annoying.  They are expensive for companies as well.  Cut out the middle-man and talk directly to companies looking for people like you.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 block-pink p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
                <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
                  <div class="icon-box _center">
                    <div class="icon-box-media">
                      <img src="assets/img/icon/crown.png" alt="" data-sr="bottom">
                    </div>
                    <div class="icon-box-heading">
                      <h3>Contracting opportunities</h3>
                    </div>
                    <div class="icon-box-content">
                      <p>Sometimes you just need a little extra bandwidth on a project.  Sometimes you just want to put in a few extra hours.  Don't waste time training someone up when there are already seasoned professionals out there.  Find short-term opportunities and those looking for opportunities.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 block-light p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
                <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
                  <div class="icon-box _center">
                    <div class="icon-box-media">
                      <img src="assets/img/icon/diamond.png" alt="" data-sr="bottom">
                    </div>
                    <div class="icon-box-heading">
                      <h3>Good companies, good people</h3>
                    </div>
                    <div class="icon-box-content">
                      <p>Everyone listed on GigMe.io are rated and vetted.  Don't waste time making a bad hire, if the fit doesn't work out or your project move on.  Repeat companies are rated and vetted as well giving transparency on both ends.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="brief_1" class="section block-default align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>GigMe.io</h5>
                    <h2>Finding work</h2>
                    <p>Finding work is simple.  You can browse available opportunities now or sign up to be notified when new opportunities are added.</p>
                  </div>
                  <div class="section-content">
                    <ul class="icon-list align-l m-t-30">
                      <li><img src="assets/img/icon/chat.png" alt=""> Contact companies looking for people like you.</li>
                      <li><img src="assets/img/icon/pencil.png" alt=""> Leave feedback along the way.</li>
                      <li><img src="assets/img/icon/skull.png" alt=""> Well defined success criteria kills scope creep.</li>
                    </ul>
                    <a class="btn btn-primary m-y-5" href="/listings">Browse opportunities</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/img/dev-machine.jpg" alt="" data-sr="right">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="brief_2" class="section block-warning align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/img/dev-workspace.jpeg" alt="" data-sr="right">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>GigMe.io</h5>
                    <h2>Finding People</h2>
                  </div>
                  <div class="section-content">
                    <p>Recruiting isn't fun.  Finding good talent looking for a good opportunity is tough.  Stop hiring bad fits and start getting work done.</p>
                    <p>Great people deserve great opportunities.  Find talent that fits your needs, not talent you have to mold in to what you need.</p>
                    <a class="btn btn-success m-y-5" href="/developers">Browse People</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="pricing" class="section block-light align-c">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Pricing</h5>
                    <h2>5%</h2>
                    <p>We charge 5% to the lister and 5% when you finish work.  This is to continue to pay for development on this platform.</p>
                  </div>
                  <div class="section-content m-t-60-sm-min">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <div class="pricing-table m-t-0-xs-max">
                          <div class="pricing-table-header block-invert">
                            <h2 class="pricing-table-title">How it works</h2>
                          </div>
                          <div class="pricing-table-content block-light">
                            <ul class="pricing-table-list">
                              <li><i class="fa fa-check"></i>Sign up for free</li>
                              <li><i class="fa fa-check"></i>Find listings to work on</li>
                              <li><i class="fa fa-check"></i>Request payment and show proof of work</li>
                              <li><i class="fa fa-check"></i>Transfer the money to your personal wallet</li>
                            </ul>
                          </div>
                          <div class="pricing-table-footer block-light">
                            <a class="btn btn-primary" href="/users/sign_up">Get started</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="get-started" class="section block-primary align-c">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <h5>Get started</h5>
                    <h2>Right Now!</h2>
                    <p>Sign up today, no credit cards, no plans, no special offers.  List your services or list an available position / contracting opportunity.</p>
                  </div>
                  <div class="section-content">
                    <a class="btn btn-pink m-y-5" href="/users/sign_up">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="contact" class="section block-default">
          <div class="container">
            <div class="section-heading text-center">
              <h2>Get in touch with us</h2>
              <p>Click the link to e-mail us now!</p>
              <div class="col-sm-6 col-sm-offset-3">
                <a class="btn btn-primary btn-block"
                  href="mailto:admin@gigme.io?Subject=Contact"
                  target="_top">Mail Us Now</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="site-footer block-invert">
        <div class="container">
          <img class="site-footer-logo img-responsive" src="/ATBLogo1.png" data-sr="bottom">
          <ul class="site-footer-social-list">
            <li><a href="https://twitter.com/aureliatoolbox" target="_blank">Twitter</a></li>
          </ul>
          <p class="site-footer-copyright">2017 © <a href="#" target="_blank">GigMe.io</a> | all rights reserved.</p>
        </div>
      </footer>
    </div>
  </div>

  <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/plugin.js"></script>
  <script src="assets/js/variable.js"></script>
  <script src="assets/js/main.js"></script>

</body>
</html>
