<template>
  <ai-dialog>
    <ai-dialog-body>
      <div class="row">
        <div class="col-xs-12">
          <strong>Amount</strong>
          <input type="number" value.bind="amount" placeholder="amount to send" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>Approval Link <small>(github link, signed e-doc)</small></strong>
          <input type="text" value.bind="approvalUrl" placeholder="approval link" />
        </div>
      </div>
    </ai-dialog-body>
    <ai-dialog-footer>
      <button
        class="btn btn-success pull-left"
        click.trigger="request()">Request</button>
      <button click.trigger="controller.cancel()">Cancel</button>
    </ai-dialog-footer>
  </ai-dialog>
</template>
