<template>
  <ai-dialog class="large-modal">
    <ai-dialog-body>
      <div class="row">
        <div class="col-xs-12">
          <strong>Address</strong>
          <input ref="addressControl" class="col-xs-12 form-control"
            value.bind="wallet.address" placeholder="address" readonly="readonly" />
        </div>
      </div>
    </ai-dialog-body>
    <ai-dialog-footer>
      <button
        class="btn btn-success pull-left"
        click.trigger="controller.ok()">Ok</button>
      <button click.trigger="controller.cancel()">Cancel</button>
    </ai-dialog-footer>
  </ai-dialog>
</template>
