<template>
  <ux-dialog class="large-modal">
    <ux-dialog-body>
      <ul class="list-unstyled">
        <li class="row" repeat.for="address of wallet.addresses">
          <strong>${address.address}</strong>
        </li>
      </ul>
    </ux-dialog-body>
    <ux-dialog-footer>
      <button
        class="btn btn-success pull-left"
        click.trigger="controller.ok()">Ok</button>
      <button click.trigger="controller.cancel()">Cancel</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
